.dataTable{
  font-size: 2vh;
  text-align: center;
  /* height: 20vh; */
  color: white;
}

.inner{
  position: absolute;
  background-color: #13294B;
  width: 120%;
  height: 100vh;
  left: 0%;
  top: 50%;
}
.trim{
  position: absolute;
  /* background-color: #13294B; */
  background-color: #FFC52F;
  width: 50%;
  top: 10%;
  left: 20%
}
.App {
  text-align: center;
  background-color: #FFC52F; 
  color: white;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
